.order-header{
    background-color: var(--background-color-body);
    border: none;
}

.order-cart-title{
    margin-top: .2rem;
    font-weight: bold;
}

.order-cart-icon-goback{
    cursor: pointer;
    margin-left: auto;
    font-size: 2rem;
    transition: .5s all;
    color: var(--color-detail);
}

.order-cart-icon-goback:hover{
    color: var(--color-detail-secundary);
}

.card-image{
    position: relative;
}

.card-image-text{
    position: absolute;
    top: 9rem;
    left: 3rem;
    width: 80%;
}

.text-gift-card{
    margin-bottom: 0;
    line-height: 1;
}

.progress-label{
    margin-left: auto;
    width: 20%;
}

.pay{
    color: #29507a;
    font-weight: bold;
}

.pal{
    color: #3b7bbf;
    font-weight: bold;
}

.card-progress-message{
    width: 15%;
    margin-left: .5rem;
}