.footer-cart{
    background-color: var(--background-color-nav);
    color: var(--color-text-nav);
}

.total-purchase{
    font-weight: bold;
    color: var(--color-detail);
    font-size: 2rem;
}

.btn-cart-footer{
    width: 100%;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    transition: .5s all;
    color: var(--color-detail-secundary);
    background-color: var(--background-color-detail) !important;
}

.btn-cart-footer:hover{
    color: var(--color-detail-secundary);
    background-color: var(--background-color-body) !important;
}

.security:hover{
    color: var(--color-detail) !important;
    text-decoration: underline !important;   
}